body {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;   
	-moz-user-select: none;      
	overflow:hidden;
}

.gem {
	border-radius: 40px;
	cursor: pointer;
}

.no-padding {
	padding: 0px;
}

.container {
	max-width: 600px;
	padding: 0px;
}

.button-image-size {
	height: 60px;
	width: 60px;
}

.btn-rounded {
	border-radius: 55px;
    padding: 0px;
}

.selected{
	z-index:100;
    animation: selectedDiv 3s ease infinite;
    
}

@keyframes selectedDiv { 
    0%{box-shadow:#FFC107 0px 0px 0.5px 0.5px}
    50%{box-shadow:#FF9800 0px 0px 3px 3px}
    100%{box-shadow:#FFC107 0px 0px 0.5px 0.5px}
}