@media (max-width: 320px) and (max-height: 480px) {
	#board > .container > .panel > .panel-body {
		width: 250px;
	    margin: auto;
	}
	.tile {
		height: 28px;
	}
}

body {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;   
	-moz-user-select: none;      
	overflow:hidden;
	touch-action: none; /* Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/5093566007214080 */
	font-family: 'Patrick Hand SC', cursive;
	font-size: 15px;
}

#board > .container > .panel > .panel-footer {
	padding: 5px 5px;
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
}

#board > .container > .panel > .panel-heading {
	padding: 5px 5px;
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
}

#board > .container > .panel > .panel-body {
	padding: 6px;
	position: relative;
}

#board > .container > .panel {
	overflow: hidden;
}

.no-padding {
	padding: 0px;
}

.container {
	max-width: 380px;
	padding: 0px;
	background: linear-gradient(138deg, #6882a8, #b6fbff, #70e1f5, #ffd194);
	height: 100%;
	max-height: 540px;
}

.panel {
	background-color: rgba(255, 255, 255, 0);
	height: 100%;
	text-align: center;
	overflow: auto;
	margin-bottom: 0px;
}

.button-image-size {
	height: 60px;
	width: 60px;
}

.btn-rounded {
	border-radius: 55px;
    padding: 0px;
}

.button-menu {
	margin-top: 10px;
	width: 200px;
	font-size: 30px;
    padding: 10px;
}

.button-mission {
	font-size: 40px;
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 66px;
    margin: 10px;
}

.tile {
	border-radius: 40px;
	cursor: pointer;
	position: relative;
	z-index:10;
	-moz-user-drag: none;
	-khtml-user-drag: none;
	-webkit-user-drag: none;
	user-drag: none;
}

.selected {
	z-index:100;
	border: #04ff00 3px ridge;
	box-sizing: content-box;
}

.achievements-div, .campaigns-div, .overflow {
	overflow: auto;
	max-height: 80%;
}

.achievement {
	height: 100px;
	width: 100%;
	padding: 8px;
	text-align: center;
    margin-bottom: 2px;
    border-radius: 50px;
    position: relative;
}

.achievement-img {
	height: 80px;
	display: block;
	float: left;
	border-radius: 40px;
	padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.achievement-completed {
	border: #03C111 2px solid;
    background-color: rgba(0, 255, 31, 0.5);
}

.achievement-not-completed {
	border: #ff5a5a 2px solid;
    background-color: rgba(255, 0, 0, 0.5);
}

.img-completed {
    border-right: green solid 2px;
}

.img-not-completed {
	border-right: red solid 2px;
}

.achievement-span{
	text-align: center;
}

.achievement-div-span {
	position: absolute;
    border-radius: 40px;
    width: 80%;
    height: 80px;
    float: right;
    left: 53px;
    padding-left: 25px;
    padding-right: 5px;
    border-left: 10px solid transparent;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#popup {
	margin: 15px auto 0 auto;
	height: 100px;
    width: 300px;
    z-index: 2000;
    border-radius: 15px;
    box-shadow: black 0px 2px 10px 1px;
    background: linear-gradient(180deg, #AAFFA9,#11FFBD,#AAFFA9);
}

.popup-achievement {
	text-align: center;
	max-height: 100%;
}

.popup-achievement img{
    height: 90px;
    margin: 5px;
    float: left;
}

.popup-achievement span{
	display: block;
}

#profileForm {
    text-align: center;
    font-size: 25px;
}

#profileForm > input{
    text-align: center;
    border-radius: 20px;
    outline: none;
}

.div-label {
	font-size: 25px;
}

#levelCompleted > .container > .panel > span {
	display: block;
    font-size: 25px;
    color: #3c763d;
}

#turns, #maxTurns, #points, #maxPoints {
	display: inline-flex;
}

.table > tr:nth-child(odd) {
	background-color: rgba(136, 255, 250, 0.5);
}

.table > tr:nth-child(even) {
	background-color: rgba(0, 243, 255, 0.5);
}

.hint {
	-webkit-animation: hintAnim 1s ease infinite alternate;
	-moz-animation: hintAnim 1s ease infinite alternate;
	animation: hintAnim 1s ease infinite alternate;
}

@-webkit-keyframes hintAnim {
    0%{transform: scale(1)}
    100%{transform: scale(.8)}
}
@-moz-keyframes hintAnim {
    0%{transform: scale(1)}
    100%{transform: scale(.8)}
}
@keyframes hintAnim { 
    0%{transform: scale(1)}
    100%{transform: scale(.8)}
}

.noMove {
	display: block;
	width: 100%;
	font-size: 40px;
	text-align: center;
}